* {
    margin: 0;
    padding: 0;
}

body {
    /* add correct Fonts */
    font-family: "Montserrat", sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    width: 100%;
    position: relative;
    background: url(images/couple.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #595959c7;
    padding: 20px 0;
    height: 680px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header::after {
    box-sizing: border-box;
    content: "Сучасна";
    position: absolute;
    top: 230px;
    left: 40px;
    font-weight: 700;
    font-size: 128px;
    color: #819B57;
    z-index: 100;
}

.header::before {
    box-sizing: border-box;
    content: "пекарня";
    position: absolute;
    top: 230px;
    right: 40px;
    font-weight: 700;
    font-size: 128px;
    color: #FAF4EA;
    z-index: 100;
}

.nav_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_name,
.footer_main-name {
    font-size: 24px;
    font-weight: 400;
    color: #FAF4EA;
    text-decoration: none;
    width: 114px;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 64px;
}

.nav_list-item a {
    text-decoration: none;
    color: #FAF4EA;
    font-weight: 400;
    font-size: 18px;
}

.nav_button,
.join_button {
    background-color: #819B57;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    color: #FAF4EA;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.header_name-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: #FAF4EA;
    background-color: #819B57;
    width: 100%;
    height: 62px;
    font-weight: 300;
    font-size: 20px;
}

.newFormat {
    background: #FAF4EA;
    display: flex;
    height: 560px;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.newFormat_texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 580px;
    max-height: 466px;
}

.newFormat_main-text {
    font-weight: 900;
    font-size: 64px;
    line-height: 84px;
    color: #31261A;
}

.newFormat_shop-bakery {
    font-weight: 600;
    font-style: semibold;
    font-size: 18px;
    line-height: 28px;
    color: #819B57;
}

.newFormat_five-minute {
    font-weight: 600;
    font-style: semibold;
    font-size: 18px;
    line-height: 28px;
    color: #819B57;
}

.chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.chefs_main-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.chefs_main-name::after {
    content: "шеф-кухарі";
    font-weight: 900;
    font-size: 64px;
    color: #465929;
}

.chefs_main-name::before {
    margin-top: 10px;
    content: "Наші найкращі";
    font-weight: 900;
    font-size: 64px;
    color: #31261A;
}

.hr {
    width: 80%;
    border: 1px solid #31261A;
    margin-bottom: 20px;
}

.chefs_cards {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    width: 100%;
    padding-bottom: 80px;
}

.chefs_card {
    display: flex;
    width: 580px;
    margin-left: 60px;
    margin-right: 35px;
}

.chefs_desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
    margin-left: 20px;
}

.chefs_card-name {
    font-weight: 600;
    font-size: 40px;
    color: #31261A;
    font-style: semibold;
}

.chef_hello,
.chefs_card-exp,
.chefs_card-make {
    font-weight: 400;
    font-size: 18px;
    color: #31261A;
}

.format {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 80px;
    background-color: #FAF4EA;
}

.format_headline {
    font-weight: 900;
    font-size: 64px;
    color: #31261A;
    margin-top: 20px;
}

.format_cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.format_card {
    position: relative;
    width: 349px;
    height: 444px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    color: #FAF4EA;
}

.format_card img {
    filter: brightness(60%)
}

#leftArrow {
    cursor: pointer;
    margin-right: -40px;
    transform: rotate(180deg);
}

#rightArrow {
    cursor: pointer;
    margin-right: -30px;

}

#card1 {
    background-image: url(images/walrus.png) no-repeat;
}

#card1::before {
    content: "Walrus";
    position: absolute;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    left: 40px;
    bottom: 160px;
    z-index: 99999;
}

#card1::after {
    content: "Площа: до 120 м2 Меню: розширене меню Штат: 2 продавці-касири, 2 пекарі, 2 помічники пекаря, 2 офіціанти-різнороби Посадкові місця: є";
    position: absolute;
    width: 200px;
    height: 150px;
    font-weight: 300;
    font-size: 14px;
    left: 40px;
    bottom: -10px;
    z-index: 99999;
}

#card2 {
    background-image: url(images/horseshoe.png) no-repeat;
}

#card2::before {
    content: "Horseshoe";
    position: absolute;
    width: 150px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    left: 40px;
    bottom: 160px;
    z-index: 99999;
}

#card2::after {
    content: "Площа: до 25 м2 Меню: найпопулярніші позиції меню Штат: 2 продавці-касири, 2 пекарі, 1 помічник пекаря Посадкові місця: відсутні";
    position: absolute;
    width: 200px;
    height: 150px;
    font-weight: 300;
    font-size: 14px;
    left: 40px;
    bottom: -10px;
    z-index: 99999;
}

#card3 {
    background-image: url(images/handlebar.png) no-repeat;
}

#card3::before {
    content: "Handlebar";
    position: absolute;
    width: 130px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    left: 40px;
    bottom: 160px;
    z-index: 99999;
}

#card3::after {
    content: "Площа: до 15 м2 Меню: найпопулярніші позиції меню Штат: 1 продавець, 1 пекар, 1 помічник пекаря Посадкові місця: відсутні";
    position: absolute;
    width: 200px;
    height: 150px;
    font-weight: 300;
    font-size: 14px;
    left: 40px;
    bottom: -10px;
    z-index: 99999;
}

.format_dots {
    position: relative;
}

.format_dots-list {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    bottom: 10px;
    right: -80px;
    font-size: 100px;
    line-height: 100px;
    color: #A18268;
    margin-bottom: -10px;
}

.format_dots-item {
    cursor: pointer;
}

.join {
    background-color: #FAF4EA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-bottom: 40px;
}

.join_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
    float: left;
    text-align: center;
}

.join_main-text {
    font-weight: 900;
    font-size: 64px;
    line-height: 84px;
    color: #31261A;
    margin-left: 20px;
}

.join_text-for-input {
    font-weight: 400;
    font-size: 18px;
    color: #465929;
    margin-left: 20px;
}

.join_input {
    height: 55px;
    width: 500px;
    border-radius: 8px;
    border: solid 1px #A18268;
    margin-left: 20px;

}

input {
    padding-left: 10px;
}

input::placeholder {
    color: #A18268;
    margin-left: 20px;
}

.join_button {
    width: 238px;

}

.join_form-desc-text {
    font-weight: 400;
    font-size: 14px;
    width: 350px;
    color: #31261A;

}

.join_form-desc-text a {
    text-decoration: none;
    color: #31261A;
    font-weight: 600;
}

footer {
    position: relative;
    background: url(images/bakeSoda.png) no-repeat;
    background-size: cover;
    filter: brightness(90%);
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #31261A;
}

footer::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    top: 152px;
    left: 0;
    background: url("images/leftBun.png") no-repeat;
    z-index: 1000;
}

footer::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 190px;
    bottom: -2px;
    left: 910px;
    background: url("images/rightBun.png") no-repeat;
    z-index: 1000;
}

.footer_box {
    display: flex;
    height: 240px;
    justify-content: space-around;
    align-items: self-start;
    padding-top: 32px;
}

.footer_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FAF4EA;
}

.footer_list-item-ubic {
    width: 220px;
}

.footer_list-item a {
    text-decoration: none;
    color: #FAF4EA;
    font-weight: 400;
    font-size: 18px;
}

.policy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #A18268;
}

.policy a {
    text-decoration: none;
    color: #FAF4EA;
    font-weight: 400;
    font-size: 14px;
}